
body {

  padding-top: 10em;
}

p {
  margin-bottom: 1.5em;
  line-height: 1.4;
}

h1 {
  ffont-size: 1.5em ;
  margin: 5em 0 0.5em ;
  font-weight: 500;
  text-transform: uppercase;
  border-top: 1px solid green;
  padding-top: 0em;
  font-size: 170%;
}

h2 {
  font-size: 1.3em ;
  margin: 5em 0 0.8em;
  font-weight: 500;
  text-transform: uppercase;
}

h3 {
  font-size: 1.2em ;
  margin: 3em 0 0.8em;
  font-weight: 400;
  text-transforms: uppercase;
}

li {
  margin-left: 1.5rem;
  margin-bottom: 1.5em;
  padding-left: 0rem;
  list-style-position: outside;
}



@media all {html {font-size: 24px;}}
@media all and (max-width:1000px){html {font-size: 24px;}}
@media all and (max-width:960px){html {font-size: 23px;}}
@media all and (max-width:920px){html {font-size: 22px;}}
@media all and (max-width:880px){html {font-size: 21px;}}
@media all and (max-width:840px){html {font-size: 20px;}}
@media all and (max-width:800px){html {font-size: 19px;}}
@media all and (max-width:760px){html {font-size: 18px;}}
@media all and (max-width:720px){html {font-size: 17px;}}
@media all and (max-width:680px){html {font-size: 16px;}}
@media all and (max-width:640px){html {font-size: 15px;}}
@media all and (max-width:600px){html {font-size: 14px;}}
@media all and (max-width:560px){html {font-size: 13px;}}
@media all and (max-width:520px){html {font-size: 12px;}}

* {
  margin: 0;
  padding: 0;
}

body, li,  p {
  font-family: "source-serif-pro",sans-serif;
}

li { 
  -moz-column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  column-break-inside: avoid;
  -moz-break-inside: avoid-column;
  -webkit-break-inside: avoid-column;
  -o-break-inside: avoid-column;
  -ms-break-inside: avoid-column;
  break-inside: avoid-column;
}

html {
    height: 100%;
}

  body {
    padding: 0rem 0em 0rem 0em;

    margin-left:auto;
    margin-right:auto;
    width:100%;
    max-width:1000px;
    min-width:520px;
    min-height: 100%;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: 'kern=1';
    -moz-font-feature-settings: 'kern' 1;
    -webkit-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    -ms-font-feature-settings: 'kern' 1;
    font-feature-settings: 'kern' 1;

    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: 'liga=1';
    -moz-font-feature-settings: 'liga' 1;
    -webkit-font-feature-settings: 'liga' 1;
    -o-font-feature-settings: 'liga' 1;
    -ms-font-feature-settings: 'liga' 1;
    font-feature-settings: 'liga' 1;

    border-top: 0px solid black;
    border-bottom: 0px solid black;


    position: relative; z-index: -10000;
}


  body > * {
    ffont-size: 100%;
    margin-left: 11.5rem;
    margin-right: 2.5rem;
  }

